{% extends not included is defined ? "content_sidebar.html.twig" : "empty_shell.html.twig" %}
{% set included = included is defined ? included : false %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

{% block sidebar %}{% endblock %}

{% block content %}

{% if not included %}
	<h1>Gem Exchange Rate</h1>
{% endif %}

<p>The graph below displays how much ingame currency you can buy with 100 gems. <br />
{% if gemtogold is defined %}
    <ul>
        <li>100 gems sells for {{ gemtogold | gw2money }}.</li>
        <li>100 gems costs {{ goldtogem | gw2money }} to buy.</li>
        <li>100 gems costs {{ usdtogem | number_format(2, '.', ',') }} USD to buy.</li>
        <li>{{ (10000) | gw2money }} costs {{ usdtogold | number_format(2, '.', ',') }} USD to buy through gems.</li>
    </ul>
{% endif %}
</p>

{%  include "chart_placeholder.html.twig" with {url: path('gem_chart'), hideLegend: hideLegend} %}

{% endblock %}