{% extends "content_sidebar.html.twig" %}

{% block sidebar %}{% endblock %}

{% block content %}
<h1>Gem Exchange Rate</h1>
<p>The graph below displays how much ingame currency you can buy with 100 gems. <br />
{% if gemtogold is defined %}
    <ul>
        <li>100 gems sells for {{ gemtogold | gw2money }}.</li>
        <li>100 gems costs {{ goldtogem | gw2money }} to buy.</li>
        <li>100 gems costs {{ usdtogem | number_format(2, '.', ',') }} USD to buy.</li>
        <li>{{ (10000) | gw2money }} costs {{ usdtogold | number_format(2, '.', ',') }} USD to buy through gems.</li>
    </ul>
{% endif %}
</p>

{%  include "chart_placeholder.html.twig" with {url: path('gem_chart')} %}

{% endblock %}