{% extends "content_wide.html.twig" %}

{% block htmltitle %}{{ parent() }} | Guild Wars 2 Tradingpost Graphs{% endblock %}

{% block main_content_classes %}{% endblock %}

{% block content %}

<style>

.index-blocks .block {
    padding-top: 5px;
    min-height: 750px;
    width: 24.0769%;
    margin-left: 1.2308%;
    min-width: 280px;
}
.index-blocks .double-block-container {
    min-height: 650px;
    width: 49.3846%;
    margin-left: 1.2308%;
    min-width: 280px;
}
.index-blocks .half-double-block {
    padding-top: 5px;
    width: 48.7692%;
    margin-left: 2.4616%;
    min-width: 280px;
    min-height: 445px;
}
.index-blocks .double-block {
    padding-top: 5px;
    width: 95.0768%;
    min-height: 280px;
}

.index-blocks .double-bottom-block {
    min-height: 280px;
}

.index-blocks .half-double-block:first-child,
.index-blocks .block:first-child {
    margin-left: 0%;
}

.index-blocks .block .items,
.index-blocks .block .image {
    width: 240px;
    height: 200px;
    display: block;

    margin: 0 auto;
    margin-bottom: 10px;
}

.index-blocks .block .items li {
    padding: 5px;
    border-bottom: 1px solid gray;
}
.index-blocks .block .items .item-image {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}
.index-blocks .block .items .item-name {
    display: block;
    float: left;
    width: 190px;
    padding-left: 5px;
    height: 32px;
    font-weight: bold;
}

.index-blocks .block.gems .image {
    background: transparent url('{{ versioned_asset('/assets/img/gem-exchange.png') }}') no-repeat;
}
.index-blocks .block.crafting .image {
    background: transparent url('{{ versioned_asset('/assets/img/crafting.png') }}') no-repeat;
}
.index-blocks .block.community .image {
    background: transparent url('{{ versioned_asset('/assets/img/community.png') }}') no-repeat;
}
.index-blocks h2,
.index-blocks h3,
.index-blocks h4 {
    text-align: center;
    border-bottom: 1px solid black;
}
.index-blocks .block.crafting ul.double,
.index-blocks .block.tp ul.double {
    float: left;
    width: 50%;
}

.index-blocks .block.gems h3 {
    margin-bottom: 5px;
}

.index-blocks .tp .items .choice-buttons span {
    cursor: pointer;
}
.index-blocks .tp .items ul:not(.active) {
    display: none;
}

</style>

<form class="form-search" action="{{ path('searchpost') }}" method="POST">
    <div class="well">
        <h1 style="border: 0px; text-align: center; margin-bottom: 10px;">Guild Wars 2 Spidy</h1>
        {% if not enable_search %}
        <p>Sorry, search has been disabled for a while to test why the site is being so slow!</p>
        {% else %}
        <div class="input-append" style="width: 60%; margin: 0 auto; display: block;">
            <input placeholder="Search" name="search" type="text" class="search-query" style="width: 79%;" id="jumbo-search"><button type="submit" class="btn" style="width: 19%;">Search</button>
        </div>
        {% endif %}
    </div>
</form>
<script type="text/javascript">
	$(document).ready(function() {
		$("#jumbo-search").focus();
	});
</script>
<div class="row-fluid index-blocks">
	<div class="block span3 well tp">
        <h2>Tradingpost</h2>
        <div class="items">
        	<div class="choice-buttons" style="text-align: center;">
        		<span data-toggle="#trending_up" class="badge badge-inverse">trending up</span>
        		<span data-toggle="#trending_down" class="badge">trending down</span>
    		</div>
        	<ul class="nav nav-pills nav-stacked clearfix active" id="trending_up">
        		{% for item in trending_up %}
        			{% set href = path('item', {dataId : item.dataId}) %}
            		<li>
            			<div data-tooltip-href="{{ gw2db_item(item) }}">
                        	<div class="item-image">
                                <a href="{{ href }}"><img src="{{ item.img }}" width="32" height="32" /></a>
                            </div>
                        	<div class="item-name {{ item.rarityCssClass }}">
                                <a href="{{ href }}">{{ item.name }}</a>
                            </div>
                        </div>
                        <div style="text-align: center;">
                      		{{ item.minSaleUnitPrice | gw2money }}
                      		<span class="badge badge-success" style="float: right;">{{ (item.salePriceChangeLastHour) | round }}% last hour</span>
                      	</div>
                  	</li>
              	{% else %}
              		<li>No trending data</li>
              	{% endfor %}
            </ul>
        	<ul class="nav nav-pills nav-stacked clearfix" id="trending_down">
        		{% for item in trending_down %}
        			{% set href = path('item', {dataId : item.dataId}) %}
            		<li>
            			<div data-tooltip-href="{{ gw2db_item(item) }}">
                        	<div style="display: inline-block;">
                                <a href="{{ href }}"><img src="{{ item.img }}" width="32" height="32" /></a>
                            </div>
                        	<div style="display: inline-block;" class="name {{ item.rarityCssClass }}">
                                <a href="{{ href }}">{{ item.name }}</a>
                            </div>
                        </div>
                        <div style="text-align: center;">
                      		{{ item.minSaleUnitPrice | gw2money }}
                      		<span class="badge badge-important" style="float: right;">{{ (item.salePriceChangeLastHour) | round }}% last hour</span>
                      	</div>
                  	</li>
              	{% else %}
              		<li>No trending data</li>
              	{% endfor %}
            </ul>
        </div>
        <script type="text/javascript">
        	$(document).ready(function() {
				$('.index-blocks .tp .items').each(function(k, container) {
					var $container = $(container);
					var $buttons = $container.find('.choice-buttons span.badge');
					$buttons.click(function(e) {
						var $this = $(e.target);

						$buttons.removeClass('badge-inverse');
						$this.addClass('badge-inverse');

						$container.find('ul').removeClass('active');
						$($this.data('toggle')).addClass('active');
					});
				});
            });
        </script>
        <h3>Categories</h3>
        <ul class="nav nav-pills nav-stacked double">
            {% for type in app.displayTypes %}
                {%  if loop.index0 %2 == 0 %}
                    <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav nav-pills nav-stacked double" style="text-align: right;">
            {% for type in app.displayTypes %}
                {%  if loop.index0 %2 == 1 %}
                    <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
	</div>
	<div class="span6 double-block-container">
        <div class="row-fluid">
        	<div class="block half-double-block span6 well crafting">
                <h2>Crafting</h2>
                <div class="image"></div>
                <h3>Disciplines</h3>
                <ul class="nav nav-pills nav-stacked double">
                    {% for discipline in app.getDisciplines %}
                        {%  if loop.index0 %2 == 0 %}
                            <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav nav-pills nav-stacked double" style="text-align: right;">
                    {% for discipline in app.getDisciplines %}
                        {%  if loop.index0 %2 == 1 %}
                            <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
        	</div>
        	<div class="block half-double-block span6 well gems">
                <h2>Gem Exchange</h2>
                <a href="{{ path('gem') }}" class="image"></a>
                {% if gemtogold is defined %}
                	<h3>Rates</h3>
                    <p>100 gems sells for {{ gemtogold | gw2money }}.</p>
                    <p>100 gems costs {{ goldtogem | gw2money }} to buy.</p>
                    <p>100 gems costs {{ usdtogem | number_format(2, '.', ',') }} USD to buy.</p>
                    <p>{{ (10000) | gw2money }} costs {{ usdtogold | number_format(2, '.', ',') }} USD to buy through gems.</p>
        		{% endif %}
        	</div>
    	</div>
        <div class="row-fluid">
        	<div class="block half-double-block double-bottom-block span6 well">
	            <h3>Twitter <a href="https://twitter.com/gw2spidy" target="_blank">@GW2Spidy</a></h3>
                <div id="tweet"></div>
        	</div>
        	<div class="block half-double-block double-bottom-block span6 well">
	            <h3>Donate</h3>
	            <p>I don't mind the costs (time and money) because I love the project and the community,
	            <br />but if you feel like donating, you'd be very welcome to help me cover my costs ;)
                </p>
                <div style="text-align: center;">
    	            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="ruben@rubensayshi.com">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="GW2Spidy">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                        <input style="width: 92px;" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <p><i>Developers: I prefer code contributions over cash ;).</i></p>
        	</div>
    	</div>
	</div>
	<div class="block span3 well community">
        <h2>Community</h2>
        <div class="image"></div>
        <h3>Open source</h3>
        <p>The source code is available on <a href="https://github.com/rubensayshi/gw2spidy">github</a>.
            Paired with a README to get you started!</p>
        <h3>IRC channel</h3>
        <p>Join me on <a href="irc://irc.gamesurge.net:6667/gw2spidy">irc.gamesurge.net</a> with your favorite IRC client or the <a href="https://gamesurge.net/chat/">web client</a>. <br />
            You can find me (Drakie) in <a href="irc://irc.gamesurge.net:6667/gw2spidy">#gw2spidy</a></p>
        <h3>E-mail</h3>
        <p style="text-align: center;"><a href="mailto:gw2spidy@rubensayshi.com">gw2spidy@rubensayshi.com</a></p>
        <h3>Public API</h3>
        <p>You can find all the documentation on the Public API on the <a href="https://github.com/rubensayshi/gw2spidy/wiki">github wiki</a>!</p>
	</div>
</div>
{% endblock %}
