{% extends "content_wide.html.twig" %}

{% block htmltitle %}{{ parent() }} | Graphs of the Tradingpost{% endblock %}
{% block main_content_classes %}{% endblock %}

{% block content %}

<style>

.index-blocks .block {
    padding-top: 5px;
    min-height: 650px;
    width: 24.0769%;
    margin-left: 1.2308%;
    min-width: 280px;
}
.index-blocks .block:first-child {
    margin-left: 0%;
}

.index-blocks .block .items,
.index-blocks .block .image {
    width: 240px;
    height: 200px;
    display: block;

    margin: 0 auto;
    margin-bottom: 10px;
}

.index-blocks .block .items li {
    padding: 5px;
    border-bottom: 1px solid gray;
}
.index-blocks .block .items .item-image {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}
.index-blocks .block .items .item-name {
    display: block;
    float: left;
    width: 190px;
    padding-left: 5px;
    height: 32px;
    font-weight: bold;
}

.index-blocks .block.gems .image {
    background: transparent url('{{ versioned_asset('/assets/img/gem-exchange.png') }}') no-repeat;
}
.index-blocks .block.crafting .image {
    background: transparent url('{{ versioned_asset('/assets/img/crafting.png') }}') no-repeat;
}
.index-blocks .block.community .image {
    background: transparent url('{{ versioned_asset('/assets/img/community.png') }}') no-repeat;
}
.index-blocks h2,
.index-blocks h3,
.index-blocks h4 {
    text-align: center;
    border-bottom: 1px solid black;
}
.index-blocks .block.crafting ul.double,
.index-blocks .block.tp ul.double {
    float: left;
    width: 50%;
}

.index-blocks .block.gems h4 {
    margin-bottom: 5px;
}

.index-blocks .tp .items .choice-buttons span {
    cursor: pointer;
}
.index-blocks .tp .items ul:not(.active) {
    display: none;
}

</style>

<form class="form-search" action="{{ path('searchpost') }}" method="POST">
    <div class="well">
        <div class="input-append" style="width: 60%; margin: 0 auto; display: block;">
            <input placeholder="Search" name="search" type="text" class="search-query" style="width: 79%;"><button type="submit" class="btn" style="width: 19%;">Search</button>
        </div>
    </div>
</form>
<div class="row-fluid index-blocks">
	<div class="block span3 well tp">
        <h2>Tradingpost</h2>
        <div class="items">
        	<div class="choice-buttons" style="text-align: center;">
        		<span data-toggle="#trending_up" class="badge badge-inverse">trending up</span>
        		<span data-toggle="#trending_down" class="badge">trending down</span>
    		</div>
        	<ul class="nav nav-pills nav-stacked clearfix active" id="trending_up">
        		{% for item in trending_up %}
        			{% set href = path('item', {dataId : item.dataId}) %}
            		<li>
            			<div data-tooltip-href="{{ gw2db_item(item) }}">
                        	<div class="item-image">
                                <a href="{{ href }}"><img src="{{ item.img }}" width="32" height="32" /></a>
                            </div>
                        	<div class="item-name {{ item.rarityCssClass }}">
                                <a href="{{ href }}">{{ item.name }}</a>
                            </div>
                        </div>
                        <div style="text-align: center;">
                      		{{ item.minSaleUnitPrice | gw2money }}
                      		<span class="badge badge-success" style="float: right;">{{ (item.salePriceChangeLastHour) | round }}% last hour</span>
                      	</div>
                  	</li>
              	{% else %}
              		<li>No trending data</li>
              	{% endfor %}
            </ul>
        	<ul class="nav nav-pills nav-stacked clearfix" id="trending_down">
        		{% for item in trending_down %}
        			{% set href = path('item', {dataId : item.dataId}) %}
            		<li>
            			<div data-tooltip-href="{{ gw2db_item(item) }}">
                        	<div style="display: inline-block;">
                                <a href="{{ href }}"><img src="{{ item.img }}" width="32" height="32" /></a>
                            </div>
                        	<div style="display: inline-block;" class="name {{ item.rarityCssClass }}">
                                <a href="{{ href }}">{{ item.name }}</a>
                            </div>
                        </div>
                        <div style="text-align: center;">
                      		{{ item.minSaleUnitPrice | gw2money }}
                      		<span class="badge badge-important" style="float: right;">{{ (item.salePriceChangeLastHour) | round }}% last hour</span>
                      	</div>
                  	</li>
              	{% else %}
              		<li>No trending data</li>
              	{% endfor %}
            </ul>
        </div>
        <script type="text/javascript">
        	$(document).ready(function() {
				$('.index-blocks .tp .items').each(function(k, container) {
					var $container = $(container);
					var $buttons = $container.find('.choice-buttons span.badge');
					$buttons.click(function(e) {
						var $this = $(e.target);

						$buttons.removeClass('badge-inverse');
						$this.addClass('badge-inverse');

						$container.find('ul').removeClass('active');
						$($this.data('toggle')).addClass('active');
					});
				});
            });
        </script>
        <h4>Categories</h4>
        <ul class="nav nav-pills nav-stacked double">
            {% for type in app.displayTypes %}
                {%  if loop.index0 %2 == 0 %}
                    <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav nav-pills nav-stacked double" style="text-align: right;">
            {% for type in app.displayTypes %}
                {%  if loop.index0 %2 == 1 %}
                    <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
	</div>
	<div class="block span3 well crafting">
        <h2>Crafting</h2>
        <div class="image"></div>
        <h4>Disciplines</h4>
        <ul class="nav nav-pills nav-stacked double">
            {% for discipline in app.getDisciplines %}
                {%  if loop.index0 %2 == 0 %}
                    <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="nav nav-pills nav-stacked double" style="text-align: right;">
            {% for discipline in app.getDisciplines %}
                {%  if loop.index0 %2 == 1 %}
                    <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
	</div>
	<div class="block span3 well gems">
        <h2>Gem Exchange</h2>
        <a href="{{ path('gem') }}" class="image"></a>
        {% if gemtogold is defined %}
        	<h4>Rates</h4>
            <p>100 gems sells for {{ gemtogold | gw2money }}.</p>
            <p>100 gems costs {{ goldtogem | gw2money }} to buy.</p>
            <p>100 gems costs {{ usdtogem | number_format(2, '.', ',') }} USD to buy.</p>
            <p>{{ (10000) | gw2money }} costs {{ usdtogold | number_format(2, '.', ',') }} USD to buy through gems.</p>
		{% endif %}
	</div>
	<div class="block span3 well community">
        <h2>Community</h2>
        <div class="image"></div>
        <h4>Open source</h4>
        <p>The source code is available on <a href="https://github.com/rubensayshi/gw2spidy">github</a>.
            Paired with a README to get you started!</p>
        <h4>IRC channel</h4>
        <p>Join me on <a href="irc://irc.gamesurge.net:6667/gw2spidy">irc.gamesurge.net</a> with your favorite IRC client or the <a href="https://gamesurge.net/chat/">web client</a>. <br />
            You can find me (Drakie) in <a href="irc://irc.gamesurge.net:6667/gw2spidy">#gw2spidy</a></p>
        <h4>E-mail</h4>
        <p style="text-align: center;"><a href="mailto:gw2spidy@rubensayshi.com">gw2spidy@rubensayshi.com</a></p>
        <h4>Twitter <a href="https://twitter.com/gw2spidy" target="_blank">@GW2Spidy</a></h4>
      <div id="tweet"></div>
	</div>
</div>
{% endblock %}
