{% extends "content_wide.html.twig" %}

{% block main_content_classes %}{% endblock %}

{% block content %}

<style>

.index-blocks .block {
    padding-top: 5px;
    min-height: 630px;
    width: 24.0769%;
    margin-left: 1.2308%;
    min-width: 280px;
}
.index-blocks .block:first-child {
    margin-left: 0%;
}

.index-blocks .block .items,
.index-blocks .block .image {
    width: 240px;
    height: 200px;

    margin: 0 auto;
    margin-bottom: 10px;
}
.index-blocks .block.gems .image {
    background: transparent url('{{ versioned_asset('/assets/img/gem-exchange.png') }}') no-repeat;
}
.index-blocks .block.community .image {
    background: transparent url('{{ versioned_asset('/assets/img/community.png') }}') no-repeat;
}
.index-blocks h2,
.index-blocks h3,
.index-blocks h4 {
    text-align: center;
    border-bottom: 1px solid black;
}
.index-blocks .block.crafting ul,
.index-blocks .block.tp ul {
    float: left;
    width: 50%;
}

.index-blocks .block.gems h4 {
    margin-bottom: 5px;
}

</style>

<form class="form-search" action="{{ path('searchpost') }}" method="POST">
    <div class="well">
        <div class="input-append" style="width: 60%; margin: 0 auto; display: block;">
            <input placeholder="Search" name="search" type="text" class="search-query" style="width: 79%;"><button type="submit" class="btn" style="width: 19%;">Search</button>
        </div>
    </div>
</form>
<div class="row-fluid index-blocks">
    <div class="block span3 well tp">
      <h2>Tradingpost</h2>
      <div class="items">
        <table>
            <tr><td>Item Number 1</td><td>UP 2</td>
        </table>
      </div>
      <h4>Categories</h4>
      <ul class="nav nav-pills nav-stacked">
          {% for type in app.displayTypes %}
              {%  if loop.index0 %2 == 0 %}
                  <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
              {% endif %}
          {% endfor %}
      </ul>
      <ul class="nav nav-pills nav-stacked" style="text-align: right;">
          {% for type in app.displayTypes %}
              {%  if loop.index0 %2 == 1 %}
                  <li><a href="{{ path('type', {type: type.id}) }}">{{ type.title }}</a></li>
              {% endif %}
          {% endfor %}
      </ul>
  </div>
  <div class="block span3 well crafting">
      <h2>Crafting</h2>
      <div class="image"></div>
      <h4>Disciplines</h4>
      <ul class="nav nav-pills nav-stacked">
          {% for discipline in app.getDisciplines %}
              {%  if loop.index0 %2 == 0 %}
                  <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
              {% endif %}
          {% endfor %}
      </ul>
      <ul class="nav nav-pills nav-stacked" style="text-align: right;">
          {% for discipline in app.getDisciplines %}
              {%  if loop.index0 %2 == 1 %}
                  <li><a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a></li>
              {% endif %}
          {% endfor %}
      </ul>
  </div>
  <div class="block span3 well gems">
      <h2>Gem Exchange</h2>
      <div class="image"></div>
      <h4>Rates</h4>
      <p>100 gems sells for 28 <i class="gw2money-silver">s</i> 1 <i class="gw2money-copper">c</i>&nbsp;</p>
      <p>100 gems costs 38 <i class="gw2money-silver">s</i> 77 <i class="gw2money-copper">c</i>&nbsp; to buy</p>
      <p>100 gems costs 1.25 USD to buy</p>
      <p>1 <i class="gw2money-gold">g</i>&nbsp; costs 4.46 USD to buy through gems</p>
  </div>
  <div class="block span3 well community">
      <h2>Community</h2>
      <div class="image"></div>
      <h4>Open source</h4>
      <p>The source code is available on <a href="https://github.com/rubensayshi/gw2spidy">github</a>.
          Paired with a README to get you started!</p>
      <h4>IRC channel</h4>
      <p>Join me on <a href="irc://irc.gamesurge.net:6667/gw2spidy">irc.gamesurge.net</a> with your favorite IRC client or the <a href="https://gamesurge.net/chat/">web client</a>. <br />
          You can find me (Drakie) in <a href="irc://irc.gamesurge.net:6667/gw2spidy">#gw2spidy</a></p>
      <h4>E-mail</h4>
      <p style="text-align: center;"><a href="mailto:gw2spidy@rubensayshi.com">gw2spidy@rubensayshi.com</a></p>
      <h4>Twitter <a href="https://twitter.com/gw2spidy" target="_blank">@GW2Spidy</a></h4>
      <div id="tweet"></div>
  </div>
</div>

<h3>Welcome to the Guild Wars 2 Spidy website!</h3>
<p>This website aims to provide you with graphs of the sale and buy listings of items on the Guild Wars 2 Trade Market.
</p>
<p>Using this information we can get a better understanding of the economy in Guild Wars 2. <br />
It can also prevent you from getting caught in other players monopolizing the Trade Market with sudden spikes in prices.
</p>

<h3>You do <em>NOT</em> need to login to use this website!</h3>
<p>I'm using my own game account to gather the information and this website is only showing you what I've gathered over time.
</p>

<h3>How does it work?</h3>
<p>ArenaNet has build the Trade Market so that it's loaded into the game from a website. <br />
You can also access this website with a browser and use your game account to login and view all the items and listings. <br />
<br />
Now what I've build is some tools which will run constantly to automatically login to that website and record all data we can find, <br />
as a result I can record the sale listings for all the items about every hour and with that data I can create graphs with the price changing over time!
</p>

<h3>Discussion / Questions / Feedback / Contribute</h3>
<p>The project is build in PHP 5.3 / HTML / CSS / JS and is open source on <a href="https://github.com/rubensayshi/gw2spidy">github</a>. <br />
Everyone is free to setup the project for yourself (though atm without setup instructions it might be hard) <br >
and you're <em>very much</em> welcome to contribute pull requests and I'll do my best to merge them asap! <br />
<br />
For discussion, questions, etc please goto <a href="http://www.guildwars2guru.com/topic/45667-guildwars2spidy-graphs-of-the-trade-market/">Guild Wars 2 Guru Forum</a>, use the issue system on <a href="https://github.com/rubensayshi/gw2spidy/issues">github</a> or <a href="mailto:gw2spidy@rubensayshi.com">mail me</a>.<br />
Or join me on irc.gamesurge.net with your favorite IRC client or the <a href="https://gamesurge.net/chat/">web client</a> - you can find me (Drakie) in #gw2spidy and #gw2ringer :-D
</p>

<div class="clearfix">
    <h3>Follow me on twitter <a href="https://twitter.com/gw2spidy" target="_blank">@GW2Spidy</a>!</h3>
    <a class="twitter-icon" style="float: left;" href="https://twitter.com/gw2spidy" target="_blank">Twitter @GW2Spidy</a>
    <div style="float: left; width: 95%;">
        <p>Recieve status updates: <br />
            - when the Guild Wars 2 Tradingpost is up, down or other things change <br />
            - when new features are added to GW2Spidy <br />
            - when I need feedback on beta features
        </p>
    </div>
</div>

<h3>Shut up, I just want to see the graphs!</h3>
<p>Go to the <a href="{{ path('types') }}">browse page</a> or use the <a href="{{ path('searchform') }}">search</a> (both also located in the top bar) and enjoy ;)</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Other Interesting Websites</h3>
<ul>
    <li><a href="http://www.guildwars2guru.com">Guild Wars 2 Guru</a> </li>
    <li><a href="http://www.guildwars2riches.com">Guild Wars 2 Riches</a> </li>
    <li><a href="http://gw2skills.net/editor/en/">Guild Wars 2 Skills</a> </li>
</ul>
{% endblock %}
