{% set included = included is defined ? included : false %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

{% extends not included ? "content_wide.html.twig" : "empty_shell.html.twig" %}

{% block htmltitle %}{{ parent() }} | {{ item.name }}{% endblock %}
{% block content %}
<div class="clearfix">
	<div style="float: left;">
		{% include "item_snippet.html.twig" with {'item': item, 'tag': 'div'} %}
	</div>
    <a target="_blank" title="View this item on GW2DB" data-notooltip="true" style="display: block; float: right; text-align: center; position: relative; top: -20px; right: -30px;" href="{{ gw2db(item) }}">
    	<img src="{{ versioned_asset('/assets/img/powered_gw2db_onLight.png') }}" /><br />
    	<small style="font-size: 9px;">click to open gw2db</small>
    </a>
    <div title="click and copy the code to link this item ingame" class="ingame-share" style="display: block; float: right; position: relative; top: -0px; right: -0px;">
        <input value="{{ item.ingamecode }}" type="text" class="input-small" style="display: none; margin: 0px; position: absolute; top: 0px; left: 0px;" />
        <span style="cursor: pointer;">
            <i class="icon icon-share"></i> link ingame
        </span>
    </div>
    <div style="float: left;">
        <table class="table" style="width: 200px;">
			<tr>
				<th>Sell Price: </th>
				<td>{{ item.minSaleUnitPrice | gw2money }}</td>
			</tr>
			<tr>
				<th>Supply: </th>
				<td>{{ item.saleAvailability }}</td>
			</tr>
			<tr>
				<th>Buy Price: </th>
				<td>{{ item.maxOfferUnitPrice | gw2money }}</td>
			</tr>
			<tr>
				<th>Demand: </th>
				<td>{{ item.offerAvailability }}</td>
			</tr>
		</table>
    </div>
</div>
<div class="clearfix">
	{% if item.resultOfRecipes | length %}
		<table class="table" style="width: 650px;">
			<tr>
				<th>Created By</th>
				<th>Cost</th>
				<th>Profit</th>
			</tr>
    		{% for recipe in item.resultOfRecipes %}
    			<tr>
    				<td style="width: 250px;">
    					<a href="{{ path('recipe', {dataId : recipe.dataId}) }}">{{ recipe.name }}</a>
    				</td>
    				<td style="width: 115px;">
						{{ recipe.cost | gw2money }}
					</td>
    				<td style="width: 115px;">
						{{ recipe.profit | gw2money }}
					</td>
				</tr>
    		{% endfor %}
		</table>
	{% else %}
		&nbsp;
	{% endif %}
</div>
{% include "chart_placeholder.html.twig" with {'item': item, 'hideLegend': hideLegend} %}

<script type="text/javascript">
{% set historySnippet %}
{% spaceless %}
    {% include "item_snippet.html.twig" with {'item': item, 'tag': 'li', 'href': path('item', {dataId: item.dataId})} %}
{% endspaceless %}
{% endset %}
    window.GW2SpidyItemHistory.addItem({{ item.dataId }}, '{{- historySnippet | e('js') -}}');
</script>

{% endblock %}