{% extends "content_wide.html.twig" %}

{% set watchlist = watchlist is defined ? watchlist : false %}
{% block htmltitle %}
{{ parent() }} | {% if search is defined %}
"{{ search }}" Search Results
{% elseif watchlist %}
Watchlist
{% elseif type is defined %}
{{ type }} {% if subtype %} - {{ subtype }}{% endif %}
{% endif %}
 | Page {{ page }}{% endblock %}
{% block htmlrobots %}noindex,follow{% endblock %}

{# ---------------
    pager is repeated multiple times
   --------------- #}
{% macro pager(page, lastpage, parent_context) %}
    {# ---------------
        calculate how many pages we can display before and after the curently active page
         - add a [...] link (eating up 1 page number) if there's an overflow
       --------------- #}
    {% set maxpages = 17 %}
    {% set before = ((maxpages / 2) | floor) %}
    {% set before = page <= before ? page -1 : before %}
    {% set after = maxpages - before - 1 %}
    {% set before = (page + after > lastpage) ? before + (after - (lastpage - page)) : before %}
    {% set dotsbefore = (page - before > 1) %}
    {% set dotsafter  = (page + after < lastpage) %}
    {% set before = dotsbefore ? before -1 : before %}
    {% set after  = dotsafter  ? after  -1 : after %}
    <div class="pagination">
        <ul>
            <li class="{% if page <= 1 %}disabled{% endif %}"><a href="{{ item_list_path(parent_context, {page: (page-1)}) }}">Prev</a></li>
            {% if dotsbefore %}
                <li>
                    <a href="{{ item_list_path(parent_context, {page: (page - before - 1)}) }}">...</a>
                </li>
            {% endif %}
            {% for i in range(1, lastpage) %}
                {% if (i >= (page - before)) and (i <= page + after) %}
                    <li class="{% if i == page %}active{% endif %}">
                        <a href="{{ item_list_path(parent_context, {page: i}) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if dotsafter %}
                <li>
                    <a href="{{ item_list_path(parent_context, {page: (page + after + 1)}) }}">...</a>
                </li>
            {% endif %}
            <li class="{% if page >= lastpage %}disabled{% endif %}"><a href="{{ item_list_path(parent_context, {page: (page+1)}) }}">Next</a></li>
        </ul>
    </div>
{% endmacro %}

{# ---------------
    table header (with sorting link) is repeated multiple times
   --------------- #}
{% macro th_sortable(title, key, current_sort, current_sort_order, parent_context, extra_classes) %}
    {# set the inverted order if we're already sorting by this key #}
    {% set default_sort = key in ['name'] ? 'asc' : 'desc' %}
    {% set sort_order = current_sort == key ? (current_sort_order == 'desc' ? 'asc' : 'desc') : default_sort %}

    <th class="{{ key }} {{ extra_classes }}">
        <a href="{{ item_list_path(parent_context, {('sort_' ~ key): sort_order}) }}">
            {{ title }}
            {% if current_sort == key %}
                <i class="icon-arrow-{{ (current_sort_order == 'desc' ? 'down' : 'up') }}"></i>
            {% endif %}
        </a>
    </th>
{% endmacro %}

{% block content %}
    <div class="clearfix">
        <div style="float: right;">
            {% if app['google_ad_client'] %}
            <script type="text/javascript">
            <!--
            google_ad_client = "{{ app['google_ad_client'] }}";
            /* Medium Rectangle (300 x 250) */
            google_ad_slot = "5148573296";
            google_ad_width = 300;
            google_ad_height = 250;
            //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            {% endif %}
        </div>
        {{ _self.pager(page, lastpage, _context) }}

        <div class="form-horizontal" style="float: left; margin-top: -9px;">
            <div class="control-group">
                <label class="control-label" for="rarity_filter">Filter by rarity:</label>
                <div class="controls">
                    <select name="rarity_filter" id="rarity_filter">
                        <option value="" data-href="{{ item_list_path(_context, {rarity_filter: null}) }}">No filter</option>
                        {% for rarity, rarityname in {1: 'Common', 2: 'Fine', 3: 'Masterwork', 4: 'Rare', 5: 'Exotic', 6: 'Legendary'} %}
                            <option class="{{ rarityname | rarity_css_class }}" {% if rarity == rarity_filter %}selected{% endif %} value="{{ rarity }}" data-href="{{ item_list_path(_context, {rarity_filter: rarity}) }}">{{ rarityname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p>More filters coming soon ...</p>
                </div>
            </div>
        </div>
    </div>

    <table class="item-list-table table table-striped table-condensed">
        <thead>
            {{ _self.th_sortable('Name', 'name', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Level', 'restriction_level', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Rarity', 'rarity', current_sort, current_sort_order, _context) }}
            <th class="type">Type</th>
            {{ _self.th_sortable('Min Sale Offer', 'min_sale_unit_price', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Max Buy Offer', 'max_offer_unit_price', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Sale Avail', 'sale_availability', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Offer Avail', 'offer_availability', current_sort, current_sort_order, _context) }}
            {{ _self.th_sortable('Margin', 'margin', current_sort, current_sort_order, _context) }}
            <th class="action">Action</th>
        </thead>
        {% for item in items %}
            <tr class="item" data-id="{{ item.dataId }}">
                <td class="info">
                    <a data-tooltip-href="http://www.gw2db.com/items/{{ item.gw2dbExternalId | url_encode }}-{{ item.name | slugify }}" href="{{ path('item', {dataId: item.dataId}) }}" class="name {{ item.rarityCssClass }}">
                        <img class="image" src="{{ item.img }}" width="32" height="32" /> {{ item.name }}
                    </a>
                </td>
                <td class="restriction_level">{% if item.restrictionLevel %}{{ item.restrictionLevel }}{% endif %}</td>
                <td class="rarity {{ item.rarityCssClass }}">{{ item.rarityName }}</td>
                <td class="type">
                    {% if item.itemType %}
                        <span class="item-type">{{ item.itemType.title }}</span>
                    {% endif %}
                    {% if item.itemSubType %}
                        {% if item.itemType %} // {% endif %}
                        <span class="item-sub-type">{{ item.itemSubType.title }}</span>
                    {% endif %}
                </td>
                <td class="min_sale_unit_price" title="{{ item.saleAvailability }} sales available">{{ item.minSaleUnitPrice | gw2money }}</td>
                <td class="max_offer_unit_price" title="{{ item.offerAvailability }} offers available">{{ item.maxOfferUnitPrice | gw2money }}</td>
                <td class="min_sale_unit_price">{{ item.saleAvailability }}</td>
                <td class="max_offer_unit_price">{{ item.offerAvailability }}</td>
                <td class="margin">{{ item.margin | gw2money }}</td>
                <td class="watchlist js-watchlist" data-id="{{ item.dataId }}">
                    {% if not watchlist %}
                        <a class="js-watchlist-add" href="{{ path('watchlistaddpost', {dataId : item.dataId}) }}">
                            <i class="icon icon-plus" title="add to watchlist"></i>
                        </a>
                    {% endif %}
                    <a class="js-watchlist-remove{% if not watchlist %} hide{% endif %}" href="{{ path('watchlistremovepost', {dataId : item.dataId}) }}">
                        <i class="icon icon-minus" title="remove from watchlist"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ _self.pager(page, lastpage, _context) }}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#rarity_filter").on('change', function() {
                var href = $(this).find(':selected').data('href');

                pos = window.location.href.indexOf(href);
                if (pos == -1 || window.location.href.substr(pos) != href) {
                    window.location.href = href;
                }
            });
        });
    </script>
{% endblock %}
