{% set included = included is defined ? included : false %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

{% extends not included ? "content_wide.html.twig" : "empty_shell.html.twig" %}

{% block htmltitle %}{{ item.name }} | {{ parent() }}{% endblock %}
{% block content %}
<div class="clearfix" data-id="{{ item.dataId }}">
	<div style="float: left;">
		{% include "item_snippet.html.twig" with {'item': item, 'tag': 'div'} %}
	</div>
    <div style="float: right;">
        {% if app['google_ad_client'] %}
        <script type="text/javascript">
        <!--
        google_ad_client = "{{ app['google_ad_client'] }}";
        /* Medium Rectangle (300 x 250) */
        google_ad_slot = "5148573296";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        {% endif %}
    </div>
    <a target="_blank" title="View this item on GW2DB" data-notooltip="true" style="display: block; float: right; text-align: center; position: relative; top: -20px; right: 0px;" href="{{ gw2db(item) }}">
    	<img src="{{ versioned_asset('/assets/img/powered_gw2db_onLight.png') }}" /><br />
    	<small style="font-size: 9px;">click to open gw2db</small>
    </a>
    <div title="click and copy the code to link this item ingame" class="ingame-share" style="display: block; float: right; position: relative; top: -0px; right: -0px;">
        <input value="{{ item.ingamecode }}" type="text" class="input-small" style="display: none; margin: 0px; position: absolute; top: 0px; left: 0px;" />
        <span style="cursor: pointer;">
            <i class="icon icon-share"></i> link ingame
        </span>
    </div>
    <div class="watchlist js-watchlist" style="display: block; float: right; margin-right: 15px;">
        <a class="js-watchlist-add" href="{{ path('watchlistaddpost', {dataId : item.dataId}) }}">
            <i class="icon icon-plus" title="add to watchlist"></i> add to watchlist
        </a>
        <a class="js-watchlist-remove hide" href="{{ path('watchlistremovepost', {dataId : item.dataId}) }}">
            <i class="icon icon-minus" title="remove from watchlist"></i> remove from watchlist
        </a>
    </div>
    <div style="float: left;">
        <table class="table" style="width: 200px;">
            <tr>
                    <th>Sell Price: </th>
                    <td>{{ item.minSaleUnitPrice | gw2money }}</td>
            </tr>
            <tr>
                    <th>Supply: </th>
                    <td>{{ item.saleAvailability }}</td>
            </tr>
            <tr>
                    <th>Buy Price: </th>
                    <td>{{ item.maxOfferUnitPrice | gw2money }}</td>
            </tr>
            <tr>
                    <th>Demand: </th>
                    <td>{{ item.offerAvailability }}</td>
            </tr>
        </table>
    </div>

<div class="clearfix">
	{% if item.resultOfRecipes | length %}
		<table class="table" style="width: 650px;">
			<tr>
				<th>Created By</th>
				<th>Cost</th>
				<th>Profit</th>
			</tr>
    		{% for recipe in item.resultOfRecipes %}
    			<tr>
    				<td style="width: 250px;">
    					<a href="{{ path('recipe', {dataId : recipe.dataId}) }}">{{ recipe.name }}</a>
    				</td>
    				<td style="width: 115px;">
						{{ recipe.cost | gw2money }}
					</td>
    				<td style="width: 115px;">
						{{ recipe.profit | gw2money }}
					</td>
				</tr>
    		{% endfor %}
		</table>
	{% else %}
		&nbsp;
	{% endif %}
</div>
{% include "chart_placeholder.html.twig" with {'item': item, 'hideLegend': hideLegend} %}

<script type="text/javascript">
{% set historySnippet %}
{% spaceless %}
    {% include "item_snippet.html.twig" with {'item': item, 'tag': 'li', 'href': path('item', {dataId: item.dataId})} %}
{% endspaceless %}
{% endset %}
    window.GW2SpidyItemHistory.addItem({{ item.dataId }}, '{{- historySnippet | e('js') -}}');
</script>

{% endblock %}