<{{ tag }} class="item  clearfix">
    {% if href is defined %}
        <a href="{{ href }}" class="clearfix">
    {% endif %}
    <div class="image">
        <img src="{{ item.img }}" />
    </div>
    <div class="stats">
        <div class="name">{{ item.name }}</div>
        {% if item.itemType %}
            <div class="item-type">{{ item.itemType.title }}</div>
        {% endif %}
        {% if item.itemSubType %}
            <div class="item-sub-type">{{ item.itemSubType.title }}</div>
        {% endif %}
        <div class="rarity {{ item.rarityCssClass }}">{{ item.rarityName }}</div>
        {% if item.restrictionLevel %}
            <div class="restriction-level">Required Level: {{ item.restrictionLevel }}</div>
        {% endif %}
    </div>
    {% if href is defined %}
        </a>
    {% endif %}
</{{ tag }}>