{% extends "content_wide.html.twig" %}

{% block htmltitle %}{{ parent() }} | Login{% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span6 social_login">
        <h1>Social Login</h1>
        <p>You can login using one of the following social platforms.</p>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="{{ path('social_login', {'provider': 'facebook'}) }}" class="btn btn-large">
                    <i class="icon-facebook"></i>
                </a>
                <a href="{{ path('social_login', {'provider': 'twitter'}) }}" class="btn btn-large">
                    <i class="icon-twitter"></i>
                </a>
                <a href="{{ path('social_login', {'provider': 'google'}) }}" class="btn btn-large">
                    <i class="icon-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6" style="margin-top: 20px;">
        <h1>Account Login</h1>
        <p>Or you can register and login with a GW2Spidy account. <br />
            Don't have an account yet? <a href="{{ path('register') }}">Register one now</a></p>
        <form class="form form-horizontal" action="{{ path('login_check') }}" method="post">
            {{ error }}
            <div class="control-group">
                <label class="control-label" for=""loginUsername">Username</label>
                <div class="controls">
                    <input type="text" id="loginUsername" name="_username" value="{{ last_username }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="loginPassword">Password</label>
                <div class="controls">
                    <input type="password" id="loginPassword" name="_password" value="" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row-fluid">
    <p>Your information won't be used for anything other than signing you in. <br />
        Please read the <a href="{{ path('faq') }}">privacy policy</a> if you care about that kind of stuff xD.</p>
</div>

<div class="row-fluid">
    <div class="span12" style="margin-top: 20px;">
        <h1>Password Recovery</h1>
        <p>
            If you want to have your password reset please send an email to <a href="mailto:gw2spidy@rubensayshi.com">gw2spidy@rubensayshi.com</a>
            using the email address you signed up with and I will send you a link so you can reset your password!
        </p>
    </div>
</div>

{% endblock %}
