{% extends "content_sidebar.html.twig" %}

{% block content %}

<script type="text/javascript" src="{{ versioned_asset('/assets/js/crafting.js') }}"></script>

<style>
    .recipe-wrapper {
        max-width: 700px;
    }

    .recipe-row {
    }

    .recipe-row .item-row {
        border: 1px solid black;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;

        margin-bottom: 5px;
        padding: 1px;
        height: 24px;
        float: left;
    }

    .recipe-row .item {
        float: left;
        height: 24px;
        width: 200px;
        font-weight: bold;
    }

    .recipe-row .options {
        float: left;
        height: 24px;
        width: 284px;
    }

    .recipe-row .options span {
        display: inline-block;
        padding: 3px 10px 2px;
        width: 120px;
        height: 19px;
    }

    .recipe-row .options span input {
        position: relative;
        top: -1px;
    }

    .recipe-row .children {
        padding-left: 40px;
    }

    .label-not-craftable {
        width: 264px !important;
        opacity: 0.5;
    }

     .children-disabled {
         opacity: 0.5;
     }

</style>

<h1>Design Prototype</h1>
<div class="recipe-wrapper">
    <div class="recipe-row">
    	<div class="item-row clearfix"><div class="item">
    		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-rare">Gun</a>
    	</div>
    	<div class="options">
    		<span class="label label-important"><input type="radio" /> BUY ( {{ 237436 | gw2money }} )</span>
    		<span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 3266  | gw2money }} )</span>
    	</div>
    	</div><div class="children">
    		<div class="recipe-row">
            	<div class="item-row clearfix"><div class="item">
            		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-exotic">Inscription</a>
            	</div>
            	<div class="options">
            		<span class="label label-important"><input type="radio" /> BUY ( {{ 700 | gw2money }} )</span>
            		<span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 665 | gw2money }} )</span>
            	</div>
            	</div><div class="children">
            		<div class="recipe-row">
                    	<div class="item-row clearfix"><div class="item">
                    		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-fine">Dowel</a>
                    	</div>
                    	<div class="options">
                    		<span class="label label-success"><input type="radio" checked="true" /> BUY ( {{ 234 | gw2money }} )</span>
                    		<span class="label label-important"><input type="radio" /> CRAFT {{ 123 | gw2money }} )</span>
                    	</div>
                        </div><div class="children children-disabled">
                            <div class="recipe-row">
                                <div class="item-row clearfix"><div class="item">
                                    <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-common">Plank</a>
                                </div>
                                <div class="options">
                                    <span class="label label-important"><input type="radio" /> BUY ( {{ 12 | gw2money }} )</span>
                                    <span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 14 | gw2money }} )</span>
                                </div>
                                </div><div class="children">
                                    <div class="recipe-row">
                                        <div class="item-row clearfix"><div class="item">
                                            <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-common">Log</a>
                                        </div>
                                        <div class="options">
                                            <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 19 | gw2money }} ) </span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            		</div>
            		<div class="recipe-row">
                    	<div class="item-row clearfix"><div class="item">
                    		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-masterwork">Claw</a>
                    	</div>
                    	<div class="options">
                            <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 24 | gw2money }} ) </span>
                    	</div>
                        </div>
            		</div>
            	</div>
        	</div>
            <div class="recipe-row">
                <div class="item-row clearfix"><div class="item">
                    <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-common">Plank</a>
                </div>
                <div class="options">
                    <span class="label label-important"><input type="radio" /> BUY ( {{ 12 | gw2money }} )</span>
                    <span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 14 | gw2money }} )</span>
                </div>
                </div><div class="children">
                    <div class="recipe-row">
                        <div class="item-row clearfix"><div class="item">
                            <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> <a href="" class="rarity-common">Log</a>
                        </div>
                        <div class="options">
                            <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 19 | gw2money }} ) </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>

<div class="clearfix"></div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Functional Prototype</h1>
<div id="recipe_container"></div>
{#

<h1>Recipe: {{ recipe.name }}</h1>

<h3>Result</h3>
<p>
    {% set resultprice = recipe.count * recipe.resultitem.minSaleUnitPrice %}
    <div class="clearfix">
        <div style="float: left; font-size: 16px; font-weight: bold; padding-top: 20px; padding-right: 20px;">{{ recipe.count }} x </div>
        <div style="float: left;">{% include "item_snippet.html.twig" with {'item': recipe.resultitem, 'tag': 'div'} %}</div>
    </div>
    <h4>sells on TP for: {{ recipe.count }} x {{ recipe.resultitem.minSaleUnitPrice | gw2money }} = {{ resultprice | gw2money }}</h4>
</p>

<h3>Ingredients</h3>
<p>
    {% set totalcost = 0 %}
    {% for ingredient in recipe.ingredients %}
        {% set ingredientcost = ingredient.count * ingredient.item.maxOfferUnitPrice %}
        {% set totalcost = totalcost + ingredientcost %}
        <div class="clearfix">
            <div style="float: left; font-size: 16px; font-weight: bold; padding-top: 20px; padding-right: 20px;">{{ ingredient.count }} x </div>
            <div style="float: left;">{% include "item_snippet.html.twig" with {'item': ingredient.item, 'tag': 'div'} %}</div>
        </div>
        <h4>cost on TP: {{ ingredient.count }} x {{ ingredient.item.maxOfferUnitPrice | gw2money }} = {{ ingredientcost | gw2money }}</h4>
        {% for item_recipe in ingredient.item.resultOfRecipes %}
            {{ item_recipe.name }}
        {% endfor %}
    {% endfor %}
</p>


<h3>Total cost: {{ totalcost | gw2money }}</h3>
<h3>TP listing + transaction fee: {{ (resultprice * 0.2) | gw2money }}</h3>
<h3>Profit: {{ ((resultprice * 0.8) - totalcost) | gw2money }}</h3>

#}
{% endblock %}