{% extends "content_sidebar.html.twig" %}

{% block content %}
{% for type in types %}
    {% if type.title %}
    <div class="well">
        <a href="/type/{{ type.id }}"><h4>{{ type.title }}</h4></a>
        <ul class="nav nav-pills nav-stacked">
            {% for subtype in type.subtypes %}
                {% if subtype.title %}
                <li>
                    <a href="/type/{{ type.id }}/{{ subtype.id }}">{{ subtype.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}