<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <script type="text/javascript"> var _gaq = _gaq || []; </script>

    <script language="javascript" type="text/javascript" src="{{ versioned_asset('/assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/highstock/js/highstock.js') }}"></script>

    <script language="javascript" type="text/javascript" src="/assets/js/vendor/seaofclouds/tweet/jquery.tweet.js"></script>
    <script type="text/javascript" src="http://static-ascalon.cursecdn.com/current/js/syndication/tt.js"></script>
    <script type="text/javascript" src="{{ versioned_asset('/assets/js/vendor/gw2db-tooltips.js') }}"></script>

    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-transition.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-alert.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-dropdown.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-tooltip.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-tab.js') }}"></script>
    <script src="{{ versioned_asset('/assets/js/vendor/bootstrap/bootstrap-button.js') }}"></script>

    <script type="text/javascript" src="{{ versioned_asset('/assets/js/chart.js') }}"></script>
    <script type="text/javascript" src="{{ versioned_asset('/assets/js/gw2money.js') }}"></script>
    <script type="text/javascript" src="{{ versioned_asset('/assets/js/item-history.js') }}"></script>
    <script type="text/javascript" src="{{ versioned_asset('/assets/js/js-flash-messages.js') }}"></script>
    <script type="text/javascript" src="{{ versioned_asset('/assets/js/watchlist.js') }}"></script>

    <link href="{{ versioned_asset('/assets/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ versioned_asset('/assets/css/bootstrap-responsive.css') }}" rel="stylesheet" />
    <link href="{{ versioned_asset('/assets/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ versioned_asset('/assets/css/style.css') }}" rel="stylesheet" />
    
    <link href="{{ versioned_asset('/assets/xml/OpenSearch_GW2Spidy.xml') }}" rel="search" type="application/opensearchdescription+xml" title="GW2Spidy Search">

    <title>{% block htmltitle %}GW2Spidy{% endblock %}</title>

    <meta name="description" content="Guild Wars 2 Trading Post Graphs" />
    <meta name="keywords" content="Guild Wars 2, Trading Post, Graphs, Charts, Spider, Snapshot" />
    <meta name="author" content="Ruben de Vries / Drakie / rubensayshi" />
    <meta name="robots" content="{% block htmlrobots %}index,follow{% endblock %}" />

    <link rel="image_src" href="{{ versioned_asset('/assets/img/preview.png') }}" />
    <link rel="icon" href="{{ versioned_asset('/assets/img/favicon.ico') }}" sizes="16x16 24x24 32x32 48x48 64x64 72x72 80x80 96x96 128x128 256x256" type="image/vnd.microsoft.icon">
</head>
<body>
    <div class="container-fluid ">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li {% if app.isHomeActive %}class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown {% if app.isBrowseActive %}active{% endif %}">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('types') }}" data-target="#">ITEMS <i class="icon-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                {% for type in app.displayTypes %}
                                    {% if type.title %}
                                        <li class="dropdown">
                                            <a href="{{ path('type', {type: type.id}) }}">{{ type }} {% if not type.displaySubTypes.isEmpty %} <i class="icon-chevron-right"></i>{% endif %}</a>
                                            {% if not type.displaySubTypes.isEmpty %}
                                                <ul class="dropdown-menu sub-menu">
                                                    {% for subtype in type.displaySubTypes %}
                                                        {% if subtype.title %}
                                                        <li><a href="{{ path('type', {type: type.id, subtype: subtype.id}) }}">{{ subtype }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown {% if app.isCraftingActive %}active{% endif %}">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#" data-target="#">Crafting <i class="icon-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                {% for discipline in app.disciplines %}
                                    <li>
                                        <a href="{{ path('crafting', {discipline: discipline.id}) }}">{{ discipline.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="{{ path('watchlist') }}">Watchlist</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li {% if app.isGemActive %}class="active"{% endif %}>
                            <a href="{{ path('gem') }}">Gem Exchange</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li {% if app.isFAQActive %}class="active"{% endif %}>
                            <a href="{{ path('faq') }}">FAQ</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <form class="navbar-search" action="{{ path('searchpost') }}" method="POST">
                            <input type="text" name="search" class="search-query span2" placeholder="Search">
                        </form>
                        <li class="divider-vertical"></li>
                    </ul>

                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                            {% if app.isLoggedIn %}
                                <li>
                                    <a class="js-logout" href="{{ path('logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li {% if app.isLoginActive %}class="active"{% endif %}>
                                    <a class="js-login" href="{{ path('login') }}">Login</a>
                                </li>
                            {% endif %}
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include "notices.html.twig" %}
        <div class="row-fluid content-row">
            {% block content_body %}{% endblock %}
        </div>
        <div class="footer-spacer"></div>
        <div class="row-fluid footer-row navbar">
            <div class="navbar-inner">
                <div style="position: relative;">
                    <a class="gw2db-icon" href="http://www.gw2db.com" title="Powered By GW2DB" target="_blank">
						<img src="{{ versioned_asset('/assets/img/powered_gw2db_onDark.png') }}" width="82" height="40" />
					</a>
					<a class="twitter-icon" href="https://twitter.com/gw2spidy" title="Twitter @GW2Spidy" target="_blank">Twitter @GW2Spidy</a>
                </div>
                <div style="position: absolute; left: 0px;">
                    <span><a href="https://github.com/rubensayshi/gw2spidy">open source project</a> by <a href="http://www.guildwars2guru.com/user/39936-drakie/">Drakie</a> / <a href="https://github.com/rubensayshi">rubensayshi</a></span>
                </div>
                <div style="position: absolute; right: 0px;">
                    <span title="&copy; 2011 ArenaNet, Inc. All rights reserved. NCsoft, the interlocking NC logo, ArenaNet, Arena.net, Guild Wars, Guild Wars Factions, Factions, Guild Wars Nightfall, Nightfall, Guild Wars: Eye of the North, Guild Wars Eye of the North, Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCsoft Corporation. All other trademarks are the property of their respective owners.">&copy; 2011 ArenaNet, Inc. All rights reserved.</span>
                    {% set pagestats %}
                        this page took {{ app.time | number_format(5) }} seconds
                        and used {{ app.memusage }} memory to render.

                        it was generated @ {{ now('H:i') }}
                        and if this isn't equal to your current time you're looking at a cached version ;-)
                    {% endset %}
                    <span style="font-size: 80%" title="{{- pagestats | clean_whitespace | e('html') -}}">
                        page generated @ {{ now('H:i') }}
                    </span>
                </div>
                </div>
        </div>
    </div>

    <script type="text/javascript">
        /*
         * set a random wallpaper (from the guildwars website)
         *  there's a semi-transparent div over it with default 0.8 opacity,
         *  the 2nd value for each entry can be an altered opacity
         */
        $(window).load(function() {
            // IE8 and older won't support RGBA so the background makes a mess ...
            if ($.browser.msie && $.browser.version <= 8) {
                return;
            }

            var images = [
                // some color wallpapers
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/HumanBonusWP02-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GW2_RangerWallpaper02-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GW2_HumanNecromancer-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GuildWars2-13-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GuildWars2-07-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GuildWars2-05-1920x1200.jpg", null],
                ["https://d2vn94glaxzkz3.cloudfront.net/wp-content/uploads/wallpapers/GuildWars2-11-1920x1200.jpg", null]
            ];


            var random = Math.floor(Math.random() * images.length);

            image   = images[random][0];
            opacity = images[random][1] || 0.2;

            $(document.body).css('background-image', "url(" + image + ")");
            $('.container-fluid').each(function(k, o) { o.style.backgroundColor = "rgba(255, 255, 255, " + opacity + ")"; });
        });

        $(document).ready(function() {
            $('.ingame-share').each(function(k, ingameshare) {
                var $span  = $(ingameshare).find('span');
                var $input = $(ingameshare).find('input');

                $span.on('click', function() {
                    $span.css('visibility', 'hidden');
                    $input.css('display', 'inline-block').focus().select();
                });

                $input.on('blur', function() {
                    $span.css('visibility', 'visible');
                    $input.css('display', 'none');
                });
            });
        });
    </script>

    <script type='text/javascript'>
        $(function() {
            if ($("#tweet")) {
                $("#tweet").tweet({
                    join_text: "",
                    username: "gw2spidy",
                    avatar_size: 32,
                    count: 2,
                    fetch: 10,
                    filter: function(t){ return ! /^@\w+/.test(t.tweet_raw_text); },
                    loading_text: "loading tweets..."
                });
            }
        });
    </script>

    {% if app['chartbeat-id'] and app['chartbeat-domain'] %}
        <script type="text/javascript">
          var _sf_async_config = { uid: {{ app['chartbeat-id'] }}, domain: '{{ app['chartbeat-domain'] }}' };
          (function() {
            function loadChartbeat() {
              window._sf_endpt = (new Date()).getTime();
              var e = document.createElement('script');
              e.setAttribute('language', 'javascript');
              e.setAttribute('type', 'text/javascript');
              e.setAttribute('src',
                (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
                "js/chartbeat.js");
              document.body.appendChild(e);
            };
            var oldonload = window.onload;
            window.onload = (typeof window.onload != 'function') ?
              loadChartbeat : function() { oldonload(); loadChartbeat(); };
          })();
        </script>
    {% endif %}
    {% if app['google-analytics-id'] %}
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ app['google-analytics-id'] }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    {% endif %}
</body>
</html>
